<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->

<include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find lwr_gazebo)/worlds/simple_environment.world"/>
  <arg name="paused" value="false"/>
  <arg name="use_sim_time" value="true"/>
  <arg name="gui" value="true"/>
  <arg name="headless" value="false"/>
  <arg name="debug" value="false"/>
</include>

<param name="robot_description" command="$(find xacro)/xacro.py $(find lwr_description)/robot/lwr_on_box.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1" />
    <include file="$(find lwr_gazebo)/launch/lwr_on_box_parameterized.launch" >
      <arg name="robot_name" value="robot1" />
      <arg name="init_pose" value="-x -1 -y 0 -z 0 -R 0 -P 0 -Y 0" />
    </include>

    <include file="$(find lwr_ros_control)/launch/lwr_control.launch" >
    </include>

  </group>


  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2" />
    <include file="$(find lwr_gazebo)/launch/lwr_on_box_parameterized.launch" >
      <arg name="robot_name" value="robot2" />
      <arg name="init_pose" value="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" />
    </include>

    <include file="$(find lwr_ros_control)/launch/lwr_control.launch" >
    </include>

  </group>


</launch>


