<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find lwr_controllers)/config/lwr_controllers.yaml" command="load"/>

  <!-- load position controllers -->
  <group ns="lwr">
  <!-- node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller joint0_position_controller joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller joint6_position_controller"/-->

<!--   <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller joint_trajectory_controller"/> -->

    <!--   Joint Impedance Control 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller JointImpedanceControl"/> -->

   <!-- Inverse Dynamics Control 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller InverseDynamicsControl"/> -->

   <!-- Computed Torque Control 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller ComputedTorqueControl"/> -->

 <!-- One Task Inverse Kinematics Control -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller OneTaskInverseKinematics"/>   -->
    
<!-- Multi Task Priority Inverse Kinematics Control 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller MultiTaskPriorityInverseKinematics"/>  -->

<!-- Multi Task Priority Inverse Dynamics Control -->
<!--   <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller MultiTaskPriorityInverseDynamics"/>   -->

<!-- One Task Inverse Dynamics JL Control -->
  s <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller OneTaskInverseDynamicsJL"/>  

<!-- Minimum Effort Inverse Dynamics Control 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller MinimumEffortInverseDynamics"/>   -->

<!-- Backstepping Controller 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller BacksteppingController"/>  --> 

<!-- Dynamic Sliding Mode Controller --> 
<!--  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller DynamicSlidingModeController"/>   -->

<!-- Dynamic Sliding Mode Controller Task Space
 <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args="joint_state_controller DynamicSlidingModeControllerTaskSpace"/>  --> 

</group>
</launch>
