<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:property name="Interface10" value="PositionJointInterface"/>
	<xacro:property name="Interface30" value="EffortJointInterface"/>

	<xacro:macro name="kuka_lwr_transmission" params="name">

		<transmission name="${name}_a1_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_a1_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
				<hardwareInterface>${Interface30}</hardwareInterface>
			</joint>
			<actuator name="${name}_a1_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_a2_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_a2_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
				<hardwareInterface>${Interface30}</hardwareInterface>
			</joint>
			<actuator name="${name}_a2_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_e1_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_e1_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
				<hardwareInterface>${Interface30}</hardwareInterface>
			</joint>
			<actuator name="${name}_e1_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_a3_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_a3_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
				<hardwareInterface>${Interface30}</hardwareInterface>
			</joint>
			<actuator name="${name}_a3_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_a4_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_a4_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
				<hardwareInterface>${Interface30}</hardwareInterface>
			</joint>
			<actuator name="${name}_a4_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_a5_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_a5_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
				<hardwareInterface>${Interface30}</hardwareInterface>
			</joint>
			<actuator name="${name}_a5_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_a6_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_a6_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
				<hardwareInterface>${Interface30}</hardwareInterface>
			</joint>
			<actuator name="${name}_a6_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

	</xacro:macro>

</robot>