<launch>
	
	<arg name="controller" default="joint_position_trajectoy_controller" doc="Name of the controller to be loaded (e.g. joint_trajectoy_controller)" />
	<arg name="stopped_controllers" default="OneTaskInverseKinematics" doc="Additional controllers to be loaded, but not started (can be started later with controller_manager)" />

	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find lwr_controllers)/config/lwr_controllers.yaml" command="load"/>
	
	<node ns="lwr" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="joint_state_controller $(arg controller)"/> 
	
	<node ns="lwr" name="controller_spawner_stopped" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="--stopped $(arg stopped_controllers)"/> 
	
</launch>
