<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="single_lwr_robot">

	<!-- Include all models -->
	<xacro:include filename="$(find lwr_description)/model/kuka_lwr.urdf.xacro"/>

	<link name="world"/>

	<!-- using the models -->
	<xacro:kuka_lwr parent="world" name="lwr">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:kuka_lwr>

</robot>
