
<!-- Original file -->
<launch>

<!-- Convert an xacro and put on parameter server -->
<param name="robot_description" command="$(find xacro)/xacro.py $(find lwr_description)/robot/lwr_on_box.urdf.xacro" />

<!-- Spawn a robot into Gazebo -->
    <include file="$(find lwr_gazebo)/launch/lwr_on_box_parameterized.launch" >
      <arg name="robot_name" value="lwr" />
      <arg name="init_pose" value="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" />
    </include>


  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lwr_gazebo)/worlds/simple_environment.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>