<launch>

<arg name="robot_name" default="lwr_on_box" />
<arg name="init_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" />

<!-- Spawn a robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param /robot_description -urdf $(arg init_pose) -model $(arg robot_name)"  respawn="false" output="screen" />

<!-- this enaables joint states -->

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
     output="screen" />

</launch>
