<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find lwr_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- If needed, broadcast static tf for robot root -->

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/> 
    <rosparam param="/source_list">[/lwr/joint_states]</rosparam>
  </node>
  
  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find lwr_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find lwr_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Launch the c++ interface for the planner -->
  <!-- adjust the planner parameters -->
  <param name="max_points_in_trajectory" value="50" />
  <param name="max_planning_attempts" value="2" />
  <param name="max_planning_time" value="2" />
  <param name="tolerance_in_position" value="0.1" />
  <param name="tolerance_in_orientation" value="0.1" />
  <!-- choose the group you want to plan for -->
  <param name="group_name" value="lwr" />
  <!-- load the node that implements the /trajectory_planning_srv -->
  <node name="lwr_path_planner" pkg="lwr_moveit" type="lwr_path_planner" respawn="true" output="screen"/>

</launch>
