<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="kuka_lwr_transmission" params="name">

	    <transmission name="${name}_arm_0_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_arm_0_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="${name}_arm_0_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	    </transmission>

		<transmission name="${name}_arm_1_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_arm_1_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="${name}_arm_1_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_arm_2_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_arm_2_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="${name}_arm_2_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_arm_3_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_arm_3_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="${name}_arm_3_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_arm_4_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_arm_4_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="${name}_arm_4_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_arm_5_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_arm_5_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="${name}_arm_5_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_arm_6_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_arm_6_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			<actuator name="${name}_arm_6_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

	</xacro:macro>

</robot>