<launch>
	<!-- LAUNCH INTERFACE -->
	<arg name="controller" default="joint_trajectory_controller" />
	<arg name="stopped_controllers" default="OneTaskInverseKinematics" />
	<arg name="use_lwr_sim" default="true"/>
	<arg name="gui" default="false" />
	<arg name="robot_name" default="lwr_on_box"/>
	<arg name="use_rviz" default="false"/>
	<arg name="use_joint_state_publisher" default="true"/>
	<arg name="port" default="49939"/>
	<arg name="ip" default="192.168.0.20"/>

	<!-- LAUNCH IMPLEMENTATION -->

	<!-- the urdf/srdf parameter -->
	<include file="$(find lwr_description)/launch/lwr_upload.launch" />
    <param name="robot_description_semantic" textfile="$(find lwr_moveit)/config/lwr.srdf" />
	<param name="use_gui" value="$(arg gui)"/>

	<group if="$(arg use_joint_state_publisher)">
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<rosparam param="source_list">[/lwr/joint_states]</rosparam>
		</node>
	</group>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  />

	<!-- load controller -->
	<include file="$(find lwr_controllers)/launch/load_controller.launch">
		<arg name="controller" value="$(arg controller)" />
		<arg name="stopped_controllers" value="$(arg stopped_controllers)" />
	</include>
	
	<group if="$(arg use_rviz)">
		<node name="lwr_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find lwr_launch)/launch/rviz_config.rviz" output="screen"/>
	</group>

	<group if="$(arg use_lwr_sim)">
		<!-- spawn the robot in gazebo -->
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name)"  respawn="false" output="screen" />

		<!-- enable/disable gui at will, the rviz listens to the simulation -->
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find lwr_description)/worlds/simple_environment.world"/>
			<arg name="paused" value="false"/>
			<arg name="use_sim_time" value="true"/>
			<arg name="gui" value="true"/>
			<arg name="headless" value="false"/>
			<arg name="debug" value="false"/>
		</include>

	</group>
	<group unless="$(arg use_lwr_sim)">
		<include file="$(find lwr_hw)/launch/lwr_hw.launch">
			<arg name="port" value="$(arg port)"/>
			<arg name="ip" value="$(arg ip)"/>
		</include>
	</group>
</launch>
